#Ignore python folder
/python

#Ignore readme.md
README.md

#Ignore dSYM files
*.dSYM

#Ignore out files
*.o

#Ignore .DS_Store files
*.DS_Store

#Ignore compiled files from src-folder
src/networking
